/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
   --ifm-color-primary: #2e8555;
   --ifm-color-primary-dark: #29784c;
   --ifm-color-primary-darker: #277148;
   --ifm-color-primary-darkest: #205d3b;
   --ifm-color-primary-light: #33925d;
   --ifm-color-primary-lighter: #359962;
   --ifm-color-primary-lightest: #3cad6e;
   --ifm-code-font-size: 95%;
   } */

:root {
  --ifm-color-primary: #fb923c; /* 400 */
  --ifm-color-primary-dark: #ea580c; /* 600 */
  --ifm-color-primary-darker: #c2410c; /* 700 */
  --ifm-color-primary-darkest: #9a3412; /* 800 */
  --ifm-color-primary-light: #fed7aa; /* 200 */
  --ifm-color-primary-lighter: #ffedd5; /* 100 */
  --ifm-color-primary-lightest: #fff7ed; /* 50 */
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #fb923c; /* 400 */
  --ifm-color-primary-dark: #ea580c; /* 600 */
  --ifm-color-primary-darker: #c2410c; /* 700 */
  --ifm-color-primary-darkest: #9a3412; /* 800 */
  --ifm-color-primary-light: #fed7aa; /* 200 */
  --ifm-color-primary-lighter: #ffedd5; /* 100 */
  --ifm-color-primary-lightest: #fff7ed; /* 50 */
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
